# Creación de datasets

### Importando librerías

In [581]:
import pandas as pd
import numpy as np
import random
import string
from datetime import datetime
from scipy.stats import truncnorm

### Función 'days_between' para calcular el la diferencia entre 2 fechas, recibe como parámetros:
- d1: fecha mínima
- d2: fecha máxima

retorna:
- un 'int' que se refiere a la diferencia en días entre las dos fechas

In [582]:
def days_between(d1, d2):
    d1 = datetime.strptime(d1, "%Y-%m-%d")
    d2 = datetime.strptime(d2, "%Y-%m-%d")
    return (d2 - d1).days

### Función 'get_count' para calcular los valores posibles en caso de columnas numéricas, categóricas o dates, recibe como parámetros:
- col: la columna de la cual queremos calcular el total de valores

retorna:
- un 'int' el cual se refiere a la cantidad total de valores posibles

In [583]:
def get_count(col):
    if col['type'] == 'category':
        return len(col['values'])
    elif col['type'] == 'numeric':
        return col['values']['max'] - col['values']['min']
    elif col['type'] == 'date':
        return days_between(col['max'], col['min'])
    else:
        return None

### Función 'getRows' para calcular el número máximo de registros que tendrán el dataframe (Este función y las anteriores son implementadas o usadas solamente en los casos en los que la columna 'random' de cualquier configuración de dataframe sea False), recibe como parámetros:
- conf: la configuración del dataframe del cual queremos obtener la cantidad máxima de registros

retorna:
- un 'int' que corresponde al número mayor entre todos los posibles valores de cada columna

In [584]:
def getRows(conf):
    columns_total_values = [
        get_count(col) for col in conf['columns'] if get_count(col) is not None
    ]

    return max(columns_total_values)

### Función 'validateRandomRows' para validar que existe el elemento 'random_rows' en el caso que el elemento 'random' sea True. Recibe como parámetros:
- conf: la configuración del dataframe donde su elemento 'random' es True.

retorna:
- Lanza un excepción si el elemento no existe, caso contrario, devuelve el valor que contiene random_rows

In [585]:
def validateRandomRows(conf):
    if 'random_rows' not in conf:
        raise NameError(f"random_rows no existe en la configuracion del dataset '{conf['ds']}'")
    
    return conf['random_rows']

### Función 'generate_unique_id' para crear un str de 16 caracteres de manera aleatoria
retorna:
- un 'str' el cual es un string de 16 caracteres, que pueden ser letras y números

In [586]:
def generate_unique_id():
    caracteres = string.ascii_letters + string.digits
    unique_id = ''.join(random.choices(caracteres, k=16))
    return unique_id

### Función 'generate_unique_ids' para crear 'n' str de 16 caracteres, donde 'n' es el número de registros máximos que tendrá el dataframe dependiendo de la configuración, recibe como parámetros:
- count: el número total de 'ids' que necesitamos

retorna:
- una 'list' que contiene todos los 'ids' distintos

In [587]:
def generate_unique_ids(count):
    unique_ids = set()
    while len(unique_ids) < count:
        unique_ids.add(generate_unique_id())
    return list(unique_ids)

### Función 'generate_truncated_normal_data' para calcular valores de columnas numéricas en caso de que exista media y desviación, recibe como parámetros:
- valores estadísticos (min, max, mean y std)
- cantidad de valores que deseamos (size)

retorna:
- un objeto 'list' que contiene todos los valores calculados a partir de la información estadística proporcionada

In [588]:
def generate_truncated_normal_data(min_val, max_val, mean, std, size):
    
    # Calcular los parámetros de la distribución normal truncada
    a, b = (min_val - mean) / std, (max_val - mean) / std
    data = truncnorm(a, b, loc=mean, scale=std).rvs(size)

    # data = [int(i) for i in data]
    return data

### Función 'generate_col' para calcular cada una de las columnas de cualquier dataframe, esta función recibe como parámetros:
- col: se refiere a la configuración de la columna que deseamos crear.
- conf_list: es la lista de las configuraciones de dataframe, nos servirá para utilizar recursividad, ya que se necesitará para los casos donde existan llave foráneas.
- rows: se refiere al número de valores totales que tendrá nuestra columna.
- df_dict: este es un diccionario de dataframes. En los casos que existan llaves foráneas, nos servirá para verificar que el dataframe al que se hace referencia, ya ha sido creado, en caso contrario, lo crearemos y lo agregaremos a 'df_dict'

retorna: 
- un objeto 'Series' de pandas, el cual es la columna que deseabamos generar

In [589]:
def generate_col(col, conf_list, rows, df_dict):
    if col['type'] == "category":
        return random.choices(col['values'], k=rows)
    elif col['type'] == "numeric":
        min = col['values']['min']
        max = col['values']['max']
        if 'mean' in col['values'] and 'std' in col['values']:
            mean = col['values']['mean']
            std = col['values']['std']
            return generate_truncated_normal_data(min, max, mean, std, rows)
        return [int(random.uniform(min, max)) for i in range(rows)]
    elif col['type'] == "unique":
        return generate_unique_ids(rows)
    elif col['type'] == 'foreign':
        ds_name_ref, col_name_ref = col['values'].split('.')
        
        ds_names = [c['ds'] for c in conf_list]
        print(ds_names)
        if ds_name_ref not in ds_names:
            raise ValueError(f"El nombre de dataset '{ds_name_ref}' no existe")
        else:
            con = [c for c in conf_list if c['ds'] == ds_name_ref]
            col_names = [col['name'] for col in con[0]['columns']]
            if col_name_ref not in col_names:
                raise ValueError(f"""
                    La columna {col_name_ref} no existe en el dataset '{ds_name_ref}'
                    Solamente puede seleccionar las columnas: {str(col_names)}
                    """)
        
        if ds_name_ref in df_dict:
            return random.choices(df_dict[ds_name_ref][col_name_ref], k=rows)
        else:
            temp_conf = [c for c in conf_list if c['ds'] == ds_name_ref]
            temp_df = build_dataframe(temp_conf[0], conf_list, df_dict)
            df_dict[ds_name_ref] = temp_df
            return random.choices(df_dict[ds_name_ref][col_name_ref], k=rows)
    else:
        raise ValueError("Tipo de columna no válida")

### Función 'build_dataframe' se utiliza para crear únicamente 1 dataframe, recibe como parámetros:
- conf: la configuración completa del dataframe a crear
- conf_list: la lista de configuraciones, servirá para enviar las configuraciones a 'generate_col' para los casos recursivos o de llave foránea.
- df_dict: enviamos la diccionarios de diccionarios para ser utilizado en 'generate_col' 

retorna:
- un objeto 'DataFrame' de pandas

In [590]:
def build_dataframe(conf, conf_list, df_dict):
    rows = validateRandomRows(conf) if conf['random'] else getRows(conf)
    df = pd.DataFrame()

    for col in conf['columns']:
        df[col['name']] = generate_col(col, conf_list, rows, df_dict)
    
    return df

### Función 'build_dataframes' sirve para crear la lista final de dataframes a partir de una lista de configuraciones, recibe solamente un parámetro:
- conf_list: lista de configuraciones de los dataframes a crear.

retorna:
- una 'list' que contiene los dataframes generados a partir de las configuraciones proporcionadas

In [591]:
def build_dataframes(conf_list):
    df_dict = {}
    result = []

    for conf in conf_list:
        df = df_dict[conf['ds']] if conf['ds'] in df_dict else build_dataframe(conf, conf_list, df_dict)
        # df_dict[conf['ds']] = df
        result.append(df)

    return result

# Ejemplo de uso

In [592]:
d1 = {
        "ds": "dataset1",
        "columns": [
            {
                "name": "segment",
                "type": "category",
                "values": ["Consumer", "Corporate", "Home Office"]
            },
            {
                "name": "id",
                "type": "unique"
            },
            {
                'name': 'test',
                'type': 'numeric',
                'values': {'min': 5, 'max':6}
            }
        ],
        "random": False
    }


d2 = {
        "ds": "dataset2",
        "columns": [
            {
                "name": "id",
                "type": "unique"
            },
            {
                "name": "segment",
                "type": "foreign",
                "values": "dataset1.segment"
            },
            {
                "name": "ship_mode",
                "type": "category",
                "values": ["First Class", "Same Day", "Second Class", "Standard Class"]
            }
        ],
        "random": False
    }


d3 = {
        "ds": "dataset3",
        "columns": [
            {
                "name": "id",
                "type": "unique"
            },
            {
                "name": "segment",
                "type": "foreign",
                "values": "dataset1.segment"
            },
            {
                "name": "ship_mode",
                "type": "foreign",
                "values": "dataset2.ship_mode"
            },
            {
                "name": 'country',
                'type': 'category',
                'values': ['USA', 'HON']
            },
            {
                'name': 'products_cat',
                'type': 'category',
                'values': ['Accesories', 'Art', 'Phones', 'Supplies', 'Chairs', 'Paper']
            },
            {
                'name': 'region',
                'type': 'category',
                'values': ['South', 'North']
            },
            {
                "name": "quantity",
                "type": "numeric",
                "values": {"min": 1, "max": 15}
            },
            {
                "name": "sale price",
                "type": "numeric",
                "values": {"min": 10, "max": 1500, "std": 300,
                "mean": 200}
            }
            ],
        "random": True,
        "random_rows": 1000
    }

configuration_list = [d2, d3, d1]

dataframe_list = build_dataframes(configuration_list)

['dataset2', 'dataset3', 'dataset1']
['dataset2', 'dataset3', 'dataset1']
['dataset2', 'dataset3', 'dataset1']
['dataset2', 'dataset3', 'dataset1']

# Simulación de Dataset

In [593]:
simulation_extended = dataframe_list[1]

## Análisis Detallado

- Creamos una nueva columna para contabilizar las ocurrencias para cada combinacion distinta
- aggregation: contiene todas las distintas combinaciones entre segment', 'ship_mode', 'country' y 'products_cat', así como el total de ocurrencias que existen en el dataframe original.

He decidido no incluir únicamente la columna categórica 'region' ya que no me aporta información relevante para ser analizada, a diferencia de 'products_cat' que me proporciona más detalle de lo que nos habla el dataframe (que son ventas realizadas).

In [594]:


simulation_extended['n'] = 1

aggregation = (simulation_extended.
               groupby([
                   'segment',
                   'ship_mode',
                   'country',
                #    'region'
                   'products_cat'
               ], as_index = False)
               .agg({
                   'n': ['count']
               })
               )

aggregation

        segment    ship_mode country products_cat     n
                                                  count
0      Consumer  First Class     HON   Accesories    21
1      Consumer  First Class     HON          Art    16
2      Consumer  First Class     HON       Chairs    11
3      Consumer  First Class     HON        Paper    12
4      Consumer  First Class     HON       Phones    10
..          ...          ...     ...          ...   ...
67  Home Office     Same Day     USA          Art    20
68  Home Office     Same Day     USA       Chairs    12
69  Home Office     Same Day     USA        Paper    17
70  Home Office     Same Day     USA       Phones    18
71  Home Office     Same Day     USA     Supplies    16

[72 rows x 5 columns]

- Renombramos las columnas de la agregación del paso anterior
- Calculamos las probabilidades de cada combinación, en base a la cantidad total que aparece la combinación en el dataframe original

In [595]:
aggregation.columns = ['segment', 'ship_mode', 'country', 'products_cat', 'count']
aggregation['probs'] = aggregation['count'] / simulation_extended.shape[0]

aggregation

        segment    ship_mode country products_cat  count  probs
0      Consumer  First Class     HON   Accesories     21  0.021
1      Consumer  First Class     HON          Art     16  0.016
2      Consumer  First Class     HON       Chairs     11  0.011
3      Consumer  First Class     HON        Paper     12  0.012
4      Consumer  First Class     HON       Phones     10  0.010
..          ...          ...     ...          ...    ...    ...
67  Home Office     Same Day     USA          Art     20  0.020
68  Home Office     Same Day     USA       Chairs     12  0.012
69  Home Office     Same Day     USA        Paper     17  0.017
70  Home Office     Same Day     USA       Phones     18  0.018
71  Home Office     Same Day     USA     Supplies     16  0.016

[72 rows x 6 columns]

- Generamos una muestra aleatoria a partir de los indices de las combinaciones que están en 'agregation' y utilizando las probabilidades de cada combinación.
- randIndex: contiene los indices generados aleatoriamente.

In [596]:
randIndex = np.random.choice( 
    aggregation.index
    , size=10000 
    , p = list(aggregation['probs'])
)

- Visualizamos las filas del DataFrame 'agregation' cuyos índices están en randIndex, y solo incluye las columnas “segment”, "ship_mode", “country” y “products_cat”. Luego con .loc[2]: Selecciona la fila con el índice 2 de la selección anterior.

In [597]:
OneSegmentShipCountryProd = aggregation.loc[randIndex , ['segment', 'ship_mode', 'country', 'products_cat']].loc[2]

segment, ship_m, country, p_cat = OneSegmentShipCountryProd.iloc[0]

print(segment, ship_m, country, p_cat)

Consumer First Class HON Chairs

A continuación del dataset original seleccionamos solamente los registros con las combinaciones:
- 'segment': 'Consumer'
- 'ship_mode': 'First Class'
- 'country': 'HON'
- 'products_cat': 'Chairs' 

y podemos ver que tiene 16 registros eso significa que 16/1,000 = 0.016 de representatividad en ese dataset de 1,000 registros

In [598]:
test = simulation_extended.loc[ 
    ( simulation_extended['segment'] == segment )
    &
    ( simulation_extended['ship_mode'] == ship_m )
    &
    ( simulation_extended['country'] == country )
    &
    ( simulation_extended['products_cat'] == p_cat )
, : ]

print(f"""
Del dataset original seleccionamos solamente los registros con las combinaciones:
- segment = {segment}
- ship_mode = {ship_m}
- country = {country}
- products_cat = {p_cat}

Y observamos que existen {test.shape[0]} registros para esa combinación. Eso significa que {test.shape[0]} / 1,000 = {test.shape[0]/1000} de representatividad en ese dataset de 1,000 registros.  
""")

Del dataset original seleccionamos solamente los registros con las combinaciones:
- segment = Consumer
- ship_mode = First Class
- country = HON
- products_cat = Chairs

Y observamos que existen 11 registros para esa combinación. Eso significa que 11 / 1,000 = 0.011 de representatividad en ese dataset de 1,000 registros.

Ahora, al dividir los registros totales de 'OneSegmentShipCountryProd' entre 10,000, observamos que obtenemos un valor muy cercano a la representatividad del dataset original

In [599]:
OneSegmentShipCountryProd.shape[0] / 10000

0.0104

In [600]:
salePriceStats = simulation_extended.loc[ 
    ( simulation_extended['segment'] == segment )
    &
    ( simulation_extended['ship_mode'] == ship_m )
    &
    ( simulation_extended['country'] == country )
    &
    ( simulation_extended['products_cat'] == p_cat )
, : ].groupby(
    [ "segment" , "ship_mode", 'country', 'products_cat']
    , as_index = False
).agg(
    {
        "sale price": ["min","max","mean","std"]
    }
)

salePriceStats.columns = ['segment', 'ship_mode', 'country', 'products_cat', 'min', 'max', 'mean', 'std']

salePriceStats

,segment,ship_mode,country,products_cat,min,max,mean,std
0,Consumer,First Class,HON,Chairs,70.442212,732.498553,345.331786,256.049594

In [601]:
data = generate_truncated_normal_data(
    salePriceStats["min"][0]
    , salePriceStats["max"][0]
    , salePriceStats["mean"][0]
    , salePriceStats["std"][0]
    , OneSegmentShipCountryProd.shape[0]
)

data

array([225.19758387, 187.16514386, 400.10220332, 437.39162994,
       218.18276565, 147.75585743,  94.94906679, 112.38406698,
       536.51336265, 600.872349  , 503.89263717, 187.77616269,
       509.9245206 , 409.26197886, 362.81162466, 228.8819625 ,
       201.32548449, 697.26494745, 584.71023792, 594.70495532,
       187.69534159, 334.69361132, 623.84714444, 661.27406266,
       418.73378161, 406.97211675, 420.69211344, 366.54077152,
       466.28737379, 412.61593056, 319.5925922 , 318.13149197,
       236.71758096, 113.38213435, 300.98981353, 283.47858767,
       659.05912325, 399.12373537, 536.81490741, 299.05846102,
       626.26000381, 616.09953314, 256.20846273, 246.72376911,
       348.35263895, 243.57201836, 505.15843215, 621.3619561 ,
       138.20288927, 531.52018003, 530.19577905, 566.1351591 ,
       360.77283725, 173.14211446, 567.80026403, 289.96552952,
       201.98514171, 714.81572777, 230.19493865, 165.72691753,
       119.79202688, 472.38148554, 356.93301842, 254.72225439,
       447.44375324, 427.82523793, 614.34172089, 337.58321593,
       489.51294131, 622.16826469, 370.39730484, 447.69108125,
       240.07189372, 100.9344904 , 415.89831584, 129.33079871,
       375.00779558, 145.82211786, 419.46883062, 411.7324359 ,
       447.17999953, 289.55085155, 165.80884935, 258.51056341,
       546.68201311, 630.51718045, 518.74308544,  89.80798249,
       337.18609036, 655.69539404, 305.18156128, 543.15486296,
        77.87925215, 315.1434307 ,  89.37862887, 349.15639651,
       358.83172491, 376.39929701, 698.51753624, 136.75986691,
       604.67581641,  73.11724227, 527.91137723, 371.67927775])

In [602]:
OneSegmentShipCountryProd['quantity'] = data

OneSegmentShipCountryProd

     segment    ship_mode country products_cat    quantity
2   Consumer  First Class     HON       Chairs  225.197584
2   Consumer  First Class     HON       Chairs  187.165144
2   Consumer  First Class     HON       Chairs  400.102203
2   Consumer  First Class     HON       Chairs  437.391630
2   Consumer  First Class     HON       Chairs  218.182766
..       ...          ...     ...          ...         ...
2   Consumer  First Class     HON       Chairs  136.759867
2   Consumer  First Class     HON       Chairs  604.675816
2   Consumer  First Class     HON       Chairs   73.117242
2   Consumer  First Class     HON       Chairs  527.911377
2   Consumer  First Class     HON       Chairs  371.679278

[104 rows x 5 columns]

In [603]:
categories = ['segment', 'ship_mode', 'country', 'products_cat']

simulated = aggregation.loc[randIndex, categories]

column_name = 'quantity'

## Creación del dataset simulado

In [604]:
def get_categorical_dataset_simulated(simulation_extended, category_cols, size_):
    # Encontramos las diferentes combinaciones entre las columnas categóricas seleccionadas
    simulation_extended['n'] = 1

    newAgg = simulation_extended.groupby(
        category_cols, 
        as_index = False
    ).agg(
        {
            'n': ['count']
        }
    )

    cols = [c for c in category_cols]
    cols.extend(['count'])
    newAgg.columns = cols

    # Calculamos las probabilidades de cada combinación
    newAgg['prob'] = newAgg['count'] / simulation_extended.shape[0]

    # Creamos una lista de 100,000 elementos, dichos elementos son índices calculados a partir de las diferentes combinaciones y usando sus probabilidades
    randIndex = np.random.choice(
        aggregation.index,
        size=size_,
        p= list(newAgg['prob'])
    )

    # Creamos el dataset simulado seleccionando desde newAgg, los índices que aparecen en randIndex y eligiendo unicamente las columnas categóricas búscadas
    simulated = newAgg.loc[randIndex, category_cols]

    return simulated

In [605]:
category_cols = ['segment', 'ship_mode', 'country', 'products_cat']
size = 100000

final_simulation = get_categorical_dataset_simulated(simulation_extended, category_cols, size)

final_simulation.shape

(100000, 4)

## Generando los valores de las columnas numéricas con la función utilizada en clase

In [606]:
def get_numeric_column_simulated(simulated, df_origin, categories, column_name):
    agg = df_origin.groupby(
        categories
        , as_index = False
    ).agg(
        {
            column_name: ["min","max","mean","std"]
        }
    )
    nc = [ c for c in categories ]
    nc.extend( ["min" , "max" , "mean" , "std"] )
    agg.columns = nc

    ColumnSimulated = pd.DataFrame()
    for i in agg.index:
        rs = agg.loc[i]
        OneSegmentShipCountryProd = simulated.loc[i].copy()

        print(f"Valores - min: {rs['min']}, max: {rs['max']}, mean: {rs['mean']}, std: {rs['std']}")
        
        if np.isnan(rs['std']):
            print(f"std: {rs['std']}")
    
        data = generate_truncated_normal_data(
            rs["min"] - 1 if rs["std"] == 0 or np.isnan(rs['std']) else rs["min"]
            , rs["max"] + 1 if rs["std"] == 0 or np.isnan(rs['std']) else rs["max"], 
            rs["mean"]
            , 1 if (rs["std"] <= 0 or np.isnan(rs['std'])) else rs["std"]
            , OneSegmentShipCountryProd.shape[0]
        )
    
        OneSegmentShipCountryProd[column_name] = data
    
        ColumnSimulated = pd.concat( [ ColumnSimulated , OneSegmentShipCountryProd  ] )

    return ColumnSimulated.reset_index(drop=True)

In [607]:
numeric_columns = ["quantity","sale price"]

# final_simulation = simulated.sort_index().reset_index(drop=True).copy()

for nc in numeric_columns:
    ncdf = get_numeric_column_simulated( final_simulation , simulation_extended , category_cols , nc )

    final_simulation = pd.merge( final_simulation , ncdf.loc[ : , [nc] ] , left_index=True , right_index=True )

Valores - min: 1, max: 14, mean: 8.619047619047619, std: 3.9934470132479594
Valores - min: 2, max: 14, mean: 7.1875, std: 4.505089714238034
Valores - min: 1, max: 12, mean: 7.909090909090909, std: 3.1766191290283907
Valores - min: 3, max: 14, mean: 7.5, std: 3.5032452487268535
Valores - min: 1, max: 14, mean: 8.0, std: 4.422166387140534
Valores - min: 1, max: 14, mean: 7.2, std: 4.137123333148797
Valores - min: 1, max: 14, mean: 7.571428571428571, std: 4.327271048279125
Valores - min: 4, max: 14, mean: 9.3, std: 3.0568684048294332
Valores - min: 2, max: 13, mean: 7.2631578947368425, std: 3.739312254994343
Valores - min: 1, max: 14, mean: 8.857142857142858, std: 3.43862993417085
Valores - min: 1, max: 14, mean: 7.933333333333334, std: 4.636295729916081
Valores - min: 1, max: 14, mean: 6.65, std: 4.2087002619261025
Valores - min: 1, max: 14, mean: 8.916666666666666, std: 4.294993561924127
Valores - min: 2, max: 14, mean: 7.2, std: 3.6147844564602556
Valores - min: 2, max: 13, mean: 7.75, std: 4.223850031773037
Valores - min: 3, max: 14, mean: 8.090909090909092, std: 3.8328721725240325
Valores - min: 3, max: 13, mean: 7.4, std: 3.864367132317183
Valores - min: 1, max: 14, mean: 7.6923076923076925, std: 4.888500373062878
Valores - min: 1, max: 14, mean: 5.1, std: 4.121757985239902
Valores - min: 1, max: 13, mean: 8.0, std: 3.7416573867739413
Valores - min: 2, max: 14, mean: 8.5, std: 4.242640687119285
Valores - min: 1, max: 12, mean: 5.0, std: 3.063431961806135
Valores - min: 1, max: 13, mean: 7.8, std: 3.1892677171144745
Valores - min: 2, max: 11, mean: 6.818181818181818, std: 3.124681801981821
Valores - min: 2, max: 14, mean: 5.9, std: 3.665151201974256
Valores - min: 1, max: 13, mean: 5.636363636363637, std: 3.9057067804106156
Valores - min: 3, max: 11, mean: 7.125, std: 2.799872446074234
Valores - min: 1, max: 14, mean: 8.764705882352942, std: 4.437474109286525
Valores - min: 1, max: 13, mean: 6.7272727272727275, std: 4.100997661323622
Valores - min: 2, max: 9, mean: 6.0, std: 2.267786838055364
Valores - min: 1, max: 14, mean: 9.2, std: 3.8209946349085597
Valores - min: 1, max: 13, mean: 7.5, std: 4.738622738153508
Valores - min: 1, max: 14, mean: 8.6, std: 3.9390086917502742
Valores - min: 1, max: 13, mean: 8.714285714285714, std: 3.911100011084259
Valores - min: 1, max: 14, mean: 7.5, std: 4.415880433163924
Valores - min: 1, max: 14, mean: 8.23076923076923, std: 4.603510366264824
Valores - min: 2, max: 14, mean: 6.733333333333333, std: 4.14843630896315
Valores - min: 2, max: 10, mean: 6.933333333333334, std: 2.814926202195987
Valores - min: 1, max: 14, mean: 8.4, std: 5.011415539973283
Valores - min: 2, max: 14, mean: 5.8, std: 4.919349550499537
Valores - min: 2, max: 13, mean: 6.416666666666667, std: 3.4234042953903314
Valores - min: 1, max: 13, mean: 7.533333333333333, std: 3.8520248231411016
Valores - min: 1, max: 13, mean: 8.727272727272727, std: 4.173509532537553
Valores - min: 2, max: 12, mean: 6.133333333333334, std: 3.4613512362879875
Valores - min: 1, max: 14, mean: 9.5, std: 4.421024151195574
Valores - min: 1, max: 13, mean: 5.833333333333333, std: 4.003674782584854
Valores - min: 1, max: 14, mean: 5.7272727272727275, std: 4.199567077254945
Valores - min: 3, max: 11, mean: 7.0625, std: 2.462214450449026
Valores - min: 1, max: 14, mean: 8.363636363636363, std: 4.6102652260521255
Valores - min: 1, max: 12, mean: 7.454545454545454, std: 2.9449494516421284
Valores - min: 1, max: 14, mean: 7.7272727272727275, std: 5.081159495448044
Valores - min: 1, max: 14, mean: 8.615384615384615, std: 3.9903730305670573
Valores - min: 3, max: 14, mean: 8.133333333333333, std: 3.7581657126595047
Valores - min: 1, max: 14, mean: 9.466666666666667, std: 3.852024823141102
Valores - min: 1, max: 14, mean: 7.294117647058823, std: 3.8853041367818446
Valores - min: 1, max: 10, mean: 5.380952380952381, std: 2.854403448641948
Valores - min: 1, max: 14, mean: 9.090909090909092, std: 3.9611752158808997
Valores - min: 2, max: 12, mean: 7.416666666666667, std: 3.579190699111471
Valores - min: 2, max: 14, mean: 8.818181818181818, std: 4.101525426290909
Valores - min: 1, max: 14, mean: 7.7, std: 4.620004810002306
Valores - min: 3, max: 14, mean: 8.357142857142858, std: 3.20113304116726
Valores - min: 3, max: 13, mean: 7.5, std: 3.4509550720186013
Valores - min: 2, max: 14, mean: 7.636363636363637, std: 4.410730716621165
Valores - min: 1, max: 14, mean: 8.416666666666666, std: 4.100073909163841
Valores - min: 1, max: 14, mean: 7.066666666666666, std: 3.954503159449394
Valores - min: 1, max: 14, mean: 8.4375, std: 3.8117143999343215
Valores - min: 2, max: 14, mean: 8.75, std: 3.6606010435446255
Valores - min: 1, max: 12, mean: 6.55, std: 3.3791154245795716
Valores - min: 1, max: 13, mean: 5.416666666666667, std: 4.231018216873469
Valores - min: 1, max: 13, mean: 7.294117647058823, std: 3.4778712217812373
Valores - min: 1, max: 14, mean: 8.0, std: 4.2840332837725
Valores - min: 1, max: 14, mean: 7.375, std: 3.9644251369734134
Valores - min: 11.71880626310238, max: 748.7947823464733, mean: 296.82558401288287, std: 187.9617503350396
Valores - min: 12.527955170774362, max: 819.5360574152594, mean: 286.6888170476308, std: 202.24423891161987
Valores - min: 70.44221181769595, max: 732.4985527789707, mean: 345.33178644356036, std: 256.0495936762321
Valores - min: 38.535860074567665, max: 869.5104400643727, mean: 315.5389098531645, std: 251.53824416585155
Valores - min: 38.99806722025323, max: 953.0817925180522, mean: 441.938905032855, std: 279.0427776105197
Valores - min: 38.598876344962804, max: 797.4585491149379, mean: 374.74385795250976, std: 216.6055077118217
Valores - min: 55.603341063086816, max: 930.9109598649733, mean: 416.80677523631886, std: 225.99827283204132
Valores - min: 56.82014340963548, max: 713.6899678089565, mean: 399.41940153510296, std: 214.3999734836713
Valores - min: 27.240479345892084, max: 499.21335214235313, mean: 235.70202401278243, std: 165.67840469189923
Valores - min: 28.822754019109908, max: 550.2128361440268, mean: 248.74205188743463, std: 152.95233254380912
Valores - min: 56.38533807266427, max: 755.758756917522, mean: 368.18936990660205, std: 212.36113489726068
Valores - min: 28.2532901391599, max: 963.3897748498314, mean: 325.84315371884793, std: 266.72479357297397
Valores - min: 40.50735089930379, max: 712.6307143625323, mean: 306.25053353101043, std: 186.9214599972376
Valores - min: 156.78378512402386, max: 530.3216514322971, mean: 352.0464564308633, std: 138.52512401825032
Valores - min: 41.60010177389012, max: 771.0646114823857, mean: 358.572704127075, std: 253.18949128570944
Valores - min: 101.53474034607015, max: 741.4073486513234, mean: 476.08700474637175, std: 212.38900666708994
Valores - min: 22.939739641675516, max: 383.97582115972244, mean: 237.35939939157544, std: 111.95540652973834
Valores - min: 16.597405148137995, max: 713.0987260217189, mean: 361.8596686206563, std: 209.58746832686623
Valores - min: 95.54582206904273, max: 987.3740727167174, mean: 434.1442662321765, std: 262.12275627177524
Valores - min: 39.47634652660577, max: 732.6321803115577, mean: 349.83759050381656, std: 224.040164123525
Valores - min: 28.69714162475151, max: 887.4113543314833, mean: 328.54414967500543, std: 239.42609404204148
Valores - min: 45.7549921736281, max: 540.4801958624519, mean: 218.25061526755115, std: 148.67108875736946
Valores - min: 43.51107737832919, max: 901.9442275909591, mean: 296.34790156476527, std: 230.61053306985298
Valores - min: 25.710320340160138, max: 471.5588849826484, mean: 225.26416599114853, std: 135.32900093557106
Valores - min: 101.10243569284371, max: 779.5778696636793, mean: 394.0736866733815, std: 229.65905391990302
Valores - min: 36.97154405105056, max: 512.8158704069828, mean: 285.0818800565967, std: 159.94137618394828
Valores - min: 149.50202028362668, max: 693.9199862471717, mean: 441.3584723000059, std: 161.69689098546883
Valores - min: 42.12263989743897, max: 1018.9667502522564, mean: 385.4695658192164, std: 298.0990497714772
Valores - min: 57.18611821163765, max: 871.3675961974261, mean: 445.2325321914622, std: 237.6171510676453
Valores - min: 32.1191773835358, max: 481.14606323027516, mean: 280.04961788821873, std: 162.59179654283759
Valores - min: 113.93380016936352, max: 756.8790324398999, mean: 419.0116431387975, std: 174.3696744698716
Valores - min: 16.12549823497838, max: 805.8973739333723, mean: 320.12534725062864, std: 249.3836445701894
Valores - min: 56.2780899645625, max: 623.2026182254699, mean: 231.03497545580126, std: 150.39794374666502
Valores - min: 127.91030805122666, max: 716.08548211201, mean: 291.5189748024495, std: 190.0369571715298
Valores - min: 112.55493355027062, max: 778.0955989709934, mean: 393.6875113886141, std: 212.13166463683538
Valores - min: 53.158701119214015, max: 578.6036755798327, mean: 272.5903648160765, std: 178.31116463293793
Valores - min: 34.08205929596585, max: 751.2793805289825, mean: 381.4362240020565, std: 241.6575833244684
Valores - min: 38.42673094854595, max: 545.7730762112486, mean: 309.2338133475348, std: 151.4256912302721
Valores - min: 19.59859908523623, max: 680.643929396605, mean: 263.24676909473516, std: 216.26063930238837
Valores - min: 121.83239103340553, max: 617.3055365792629, mean: 308.81849265861507, std: 204.41682457295082
Valores - min: 92.3960671842724, max: 736.3887601861624, mean: 358.52080207903333, std: 220.74015487400013
Valores - min: 20.91653552489703, max: 864.816624306445, mean: 316.47194903791853, std: 266.05934229242456
Valores - min: 47.21316523377189, max: 681.4987868449829, mean: 227.3694526693904, std: 246.52027744120554
Valores - min: 39.566377464175105, max: 612.3322178506072, mean: 331.31141614460756, std: 199.4093951421833
Valores - min: 39.049801556744654, max: 543.8300960535287, mean: 254.54662080438285, std: 169.88715573646434
Valores - min: 29.717997164375845, max: 728.2245259990553, mean: 288.0094539211082, std: 228.20471264967503
Valores - min: 33.8576953465558, max: 671.984794036398, mean: 307.98940728244577, std: 174.73240813644836
Valores - min: 33.79460089244634, max: 908.8831582586455, mean: 308.86439190335904, std: 231.8478047865948
Valores - min: 42.84276447550414, max: 711.6849772505636, mean: 298.1560094944985, std: 214.42301897508142
Valores - min: 63.12319941982574, max: 837.0366514600095, mean: 424.7454297602824, std: 240.31717900016892
Valores - min: 67.60263466301524, max: 438.8163717313239, mean: 215.631387942953, std: 126.96995396931676
Valores - min: 42.756713539216804, max: 566.1648080896474, mean: 265.35666591882733, std: 159.89215648309482
Valores - min: 102.21285997507917, max: 814.2920785982698, mean: 348.9883703256631, std: 174.76870215991715
Valores - min: 32.618585330169736, max: 540.5882035823315, mean: 268.5763623822378, std: 147.61665627477288
Valores - min: 20.152711038293802, max: 677.1352278381889, mean: 265.18490504277713, std: 173.75913941845963
Valores - min: 34.137293985894104, max: 613.3171293712794, mean: 243.67974912962183, std: 155.62424791641237
Valores - min: 80.88811938535866, max: 847.1182743727773, mean: 383.45270178739224, std: 242.48878053169562
Valores - min: 10.011745617223625, max: 892.2850050115111, mean: 340.31326300899354, std: 283.82557403388614
Valores - min: 39.63966517592553, max: 776.8721330298451, mean: 352.79592248024505, std: 215.3538739299788
Valores - min: 97.77841286229643, max: 950.2562385447272, mean: 289.246975192144, std: 268.70872814370586
Valores - min: 72.65104454205145, max: 1019.8648022944288, mean: 392.50665131199275, std: 259.34756644590504
Valores - min: 26.985518533977682, max: 775.4557704730985, mean: 342.8139536410927, std: 244.24468506285115
Valores - min: 10.078111760520528, max: 646.9524249755377, mean: 304.94342154306327, std: 213.74076405006062
Valores - min: 102.41608530736313, max: 844.739390804563, mean: 439.32651910591426, std: 246.72080084828778
Valores - min: 86.38861888108387, max: 843.2873995872102, mean: 405.83813483253954, std: 233.09714878498679
Valores - min: 51.625008996919064, max: 735.7934440130338, mean: 340.44101323932773, std: 195.6478860626742
Valores - min: 18.76273810166569, max: 774.601386509728, mean: 339.03936896776895, std: 250.35757533693754
Valores - min: 37.20948010313896, max: 599.4014790536792, mean: 354.97036380935845, std: 147.16366321864933
Valores - min: 114.70513124456542, max: 1174.3110583215284, mean: 435.5192035329399, std: 273.8297300476499
Valores - min: 36.173230216980926, max: 804.8576605946644, mean: 350.29689706529405, std: 213.25195857341606
Valores - min: 24.72797896655166, max: 615.0060313159902, mean: 292.1793632589327, std: 173.8212549238687
Valores - min: 12.311175730351323, max: 663.3917635346087, mean: 312.0269173284918, std: 217.38561180628406